@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: rgb(82, 81, 97);
}
ul {
  list-style: none;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.logo-header {
  height: 80px;
}
.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: inline-flex;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  color: rgb(82, 81, 97);
}
.li-menu {
  font-size: 12px;
  margin-left: 18px;
  margin-right: 18px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.selected-menu {
  color: rgb(2, 130, 250);
  border-bottom: 5px solid;
}
.back-color {
  background-color: rgb(28, 28, 28);
}
.main-content {
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: px;
}
.back-color-market {
  background-color: rgb(2, 130, 250);
}
.market-content {
}

.menu-market {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  padding-top: 48px;
  padding-bottom: 48px;
}

.icon-market {
  height: 50px;
  padding-right: 20px;
  padding-right: 20px;
}

.li-market {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  padding-right: 20px;
  padding-right: 20px;
}
.footer {
  background-image: url(./assets/img/footer-bg.jpg);
}

.icon-market-visa {
  height: 35px;
  padding-right: 20px;
  padding-right: 20px;
}
.foot-section {
  margin-right: 40px;
}
.foot-flex {
  display: flex;
  justify-content: space-between;
}

.li-foot-title {
  font-size: 18px;
  color: white;
  margin-bottom: 16px;
  padding-top: 16px;
}
.li-menu-foot {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: grey;
  padding-bottom: 6px;
}
.cropper {
  background-image: url(./assets/img/dc-logo-bg.png);
  width: 800px;
  height: 450px;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 680px;
}
